<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MicroMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MicroMonitor/SMCTempViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D29F01B1B0B87820047BA54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D29F03A1B0B88F00047BA54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D55E8B61B17D8FE0052767A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB58B0E1B192A8900C9D921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB58B361B1A952900C9D921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB58B451B1A952B00C9D921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DDC04801B03B25A008A4932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DDC04901B03B25A008A4932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DF1A58F1B3603BC0018FF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DF1A59E1B3603BC0018FF10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
